body {
  padding-top: 50px;
}

.table {
	margin-top: 30px;
}

.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td {
	text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #9d9d9d;
}

.navbar-inverse .navbar-nav>.active>a:hover {
	color : #fff;
}

.btnnuevo {
	float: right;
    margin-top: -40px;
}

.table-bordered>tbody>tr>th {
	background-color: #F9F9F9;
}

.table-bordered>tbody>tr>td {
	background-color: #ffffff;
}
